.sidebar
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 6em
  display: flex
  flex-direction: column
  background: #fff
  border-right: 1px solid #eee
  padding-bottom: 1em
  z-index: 10

  &__logo
    width: 4.2em
    height: 4.2em
    border-radius: 50%
    background: #3ab981
    margin: 1em auto

  &__menu
    width: 3em
    align-self: flex-start
    flex-grow: 1
    margin: 0 auto

    &__item
      display: block
      margin-top: 1em

      &:first-child
        margin-top: 2em

    &__icon
      color: #333

      &:hover
        color: #555

  &__bottom
    width: 3em
    align-self: flex-end
    flex-shrink: 0
    margin: -1em auto 0 auto

    &__item
      display: block
      margin-top: 1em

      &:last-child
        margin-left: 2px

    &__icon
      color: #333

      &:hover
        color: #555
