.project-item
  position: relative
  float: left
  width: 22em
  height: 22em
  border-radius: 0.2em
  box-shadow: 0.12em 0.12em 0.2em #ddd
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  margin: 1em
  padding: 0.5em 0.8em

  &:hover > &__controls
    opacity: 1
    transition: opacity .25s ease-in-out

  &__title
    font-weight: 400
    max-width: 20em
    word-break: break-all

    a
      color: #555
      font-weight: 400

      &:hover
        color: #888

  &__description
    max-width: 20em
    padding: 1em 0
    font-size: 1.2em
    word-break: break-all

  &__controls
    position: absolute
    top: 0.5em
    right: 0.5em
    background: darken(#fff, 2%)
    border-radius: 2px
    padding: 0 0.4em 0.2em 0.5em
    cursor: pointer
    opacity: 0

    &__icon
      font-size: 1.2em
      color: #515a6e

      &:not(:first-child)
        margin-left: 0.2em

  &__stats
    position: absolute
    bottom: 0.5em
    right: 0.5em
    color: #888
    font-size: 2em
    font-weight: 300
